[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=andrew
Group=www-data
WorkingDirectory=/home/andrew/Desktop/projects/django_chat/src
ExecStart=/home/andrew/Desktop/projects/django_chat/env/bin/gunicorn --workers 3 --bind unix:/home/andrew/Desktop/projects/django_chat/gunicorn/gunicorn.sock config.wsgi:application
Restart=on-failure

[Install]
WantedBy=multi-user.target
